<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    
    <style>
      .center{
            text-align: center;
        }
        .border{
            border: 2px solid black;
        }
        .bt-bord{
            border-bottom: 2px solid black;
        }
    </style>

    <title>View Author</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">Great Ideas!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/users/welcome">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='/users/logout'>Logout</a>
                            </li>
                        </ul>
                    </div>
              </nav>
    
    <div class="container">
        
        <div class="jumbotron">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}





            <h3 class="center">More about this author</h3>
            <hr>
            <div class="container">
                <h3> <p>Name: {{user.first_name}} {{user.last_name}}</p></h3>
                <h3><p>Alias: {{user.alias}}</p></h3>
                <h3><p>Email: {{user.email}}</p></h3>

                <hr>

                <p>Total number of posts: count of posts</p>
                <p>Total number of likes: count of likes</p>
    
            </div>
        </div>
    </div>
    
</body>
</html>