<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

    <title>Idea Details</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">Great Ideas!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/users/welcome">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='/users/logout'>Logout</a>
                            </li>
                        </ul>
                    </div>
              </nav>
    <div class = 'container'>
        <div class="jumbotron">
                <h1>Idea Details</h1>
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <hr>
        
            <div class="container">
                <h3><p>{{user}} says: {{idea_content}}</p></h3>
            </div>
            <hr>
            <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Alias</th>
                                <th scope="col">Full Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{user.alias}}</td>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>

        </div>


    </div>
    
    
</body>
</html>