<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        <style>
            .center{
                text-align: center;
            }
            .border{
                border: 2px solid black;
            }
            .bt-bord{
                border-bottom: 2px solid black;
            }
            .emphasis{
                font-weight: bold;
            }
        </style>

        <title>Welcome Page</title>
    </head>

    <body>

        <div class="container">

            <div class="jumbotron">
                <h2>Welcome, {{result_user['first_name']}} {{result_user['last_name']}}</h2>

                    <div>
                            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                                {% if messages %}                            <!-- check if there are any messages -->
                                    {% for message in messages %}            <!-- loop through the messages -->
                                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <hr>
                            
                
                        </div>
                        <hr>
                
                
                
                <div class="container">
                    <div class="row">

                        <div class="col-sm-5">
                            <div>
                                <form action='/quotes/create' method='POST'>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Post your ideas below. Don't be shy!</label>
                                        <textarea class="form-control" id="idea_content" name="idea_content"rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Post idea</button>
                                </form>
                            </div>

                        </div>

                        <div class="col-sm-2"></div>
                
                        <div class="col-sm-5">
                            <!-- <h3 class="center">Quotes Feed</h3> -->
                            <div class="center"><label for="ideas_feed"><h3 class="emphasis">Ideas Feed</h3></label></div>
                            <ul class="border">
                                {% for x in resultQuotes %}
                                
                                <li>
                                    <p>{{ x['author']}}: {{x['quote_content']}}</p>
                                    <p>POSTED BY: <a href='/users/{{x["id"]}}/view'>{{x['first_name']}} {{x['last_name']}} </a> </p>
                                    <p><form action='/quotes/{{ x["quotes.id"] }}/add_like' method='POST'>
                                            <input type='submit' value='Like/Dislike'>
                                            <input type='hidden' value= "{{ session['userid'] }}" name="userLike">
                                    </form> </p>

                                    <p>
                                    {% if session['userid'] == x['user_id']: %}
                                        <form action='/quotes/{{ x["quotes.id"] }}/delete' method='POST'>
                                            <input type='submit' value='Delete'>
                                            <input type='hidden' value="{{ session['userid'] }}" name='userDelete'>
                                        </form> </p>
                                    {% endif %}
                                    <hr>
                                </li>


                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
                    
                <hr>
                <p class="text-right"><a class="btn btn-primary" href="/users/logout" role="button">Logout</a></p>
            </div>

            <hr>     
        </div>
    </body>
</html>