<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        <style>
            .center{
                text-align: center;
            }
            .border{
                border: 2px solid black;
            }
            .bt-bord{
                border-bottom: 2px solid black;
            }
            .emphasis{
                font-weight: bold;
            }
        </style>

        <title>Welcome Page</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">Great Ideas!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h2>Welcome, {{result_user['first_name']}} {{result_user['last_name']}}</h2>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/welcome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/users/logout'>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">

            <div class="jumbotron">
                <div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <hr>
                    
        
                </div>

                <hr>

                User Count: {{user_count}}
                
                
                <div class="container">
                    <div class="row">

                        <div class="col-sm-5">
                            <div>
                                <form action='/ideas/create' method='POST'>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Post your ideas below. Don't be shy!</label>
                                        <textarea class="form-control" id="idea_content" name="idea_content"rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Post idea</button>
                                </form>
                            </div>

                        </div>

                        <div class="col-sm-2"></div>
                
                        <div class="col-sm-5">
                            <div class="center"><label for="ideas_feed"><h3 class="emphasis">Ideas Feed</h3></label></div>
                            <ul class="border">
                                {% for x in resultIdeas %}
                                
                                <li>
                                    <p>{{ x['alias']}}: {{x['idea_content']}}</p>
                                    <p>POSTED BY: <a href='/users/{{x["id"]}}/view_author'>{{x['alias']}} </a> </p>
                                    <p><form action='/ideas/{{ x["ideas.id"] }}/add_like' method='POST'>
                                            <button type="submit" class="btn btn-primary">Like/Dislike</button>
                                            <input type='hidden' value= "{{ session['userid'] }}" name="userLike">
                                    </form> </p>

                                    <p>
                                    {% if session['userid'] == x['user_id']: %}
                                        <form action='/ideas/{{ x["ideas.id"] }}/delete' method='POST'>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                            <input type='hidden' value="{{ session['userid'] }}" name='userDelete'>
                                        </form> </p>
                                    {% endif %}
                                    <hr>
                                </li>


                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
                    
                <hr>
                <p class="text-right"><a class="btn btn-primary" href="/users/logout" role="button">Logout</a></p>
            </div>

            <hr>     
        </div>
    </body>
</html>